* {
    font-family: 'Shantell Sans', cursive;
    margin: 0;
}

body {
    background-color: blueviolet;
    color: green;
}

main {
    background-color:black;
    width: 425px;
    margin: 0 auto;
    height: 100vh;
    font-size: 1.5rem;
}

#par-ou-impar{
    text-align: center;   
}

#escolha-numeros{
    display: none;
    text-align: center; 
} 

.botao {
    cursor: pointer;
    border: 2px solid orange;
    background-color: transparent;
    font-size: 2rem;
    color: orange;
    padding: 0.625rem;
}

.botao-pi {
    width: 150px;
}

.botao-num {
    width: 60px;
}

#botao-jogar {
    background-color: aquamarine;
    color:black;
    border:1px solid black ;
    font-size: 2rem;
    padding: 0.65rem
}
.caixa-jogar{
    margin-top:2rem;
    text-align: center;
}

#resultado{
    display: none;
    margin:2rem 0;
    border: 1px dashed red;
}

.desabilitado{
    color:gray;
    border: 2px solid gray;
    cursor: default;
}

.selecionado {
    color: red;
    border: 2px soid red;
    background-color: gold;
    
}

.mensagem {
    font-size: 3rem

}

.centralizado {
    text-align: center;
}